<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="brace_top_setup">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 -2.77555756156289E-17 -0.0125276433923951"
        rpy="0 0 0" />
      <mass
        value="0.475317681721771" />
      <inertia
        ixx="0.000591833373304049"
        ixy="0"
        ixz="1.07966323184801E-21"
        iyy="0.000591833373304049"
        iyz="-3.7791446055156E-21"
        izz="0.00116987625577152" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="1.13948290125787E-05 6.09187225081298E-06 -0.00775007998429398"
        rpy="0 0 0" />
      <mass
        value="0.1445219727359" />
      <inertia
        ixx="2.31497021147645E-05"
        ixy="3.32556508824353E-08"
        ixz="-2.70036531857195E-09"
        iyy="2.31765302560602E-05"
        iyz="-1.83346123268752E-08"
        izz="3.99089346060658E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="fixed">
    <origin
      xyz="0 0 -0.025"
      rpy="0 0 -2.61799387799149" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-5.8306807115438E-05 -0.0268747492185129 0.14989423728049"
        rpy="0 0 0" />
      <mass
        value="2.25336370362882" />
      <inertia
        ixx="0.0123361056694915"
        ixy="8.22483402399422E-07"
        ixz="-2.06639998897815E-06"
        iyy="0.014206861180081"
        iyz="0.000759910515841866"
        izz="0.00889390500947312" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="fixed">
    <origin
      xyz="0 0 -0.365748"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>