<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="brace_top_setup">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.17475285192847E-05 -2.17475430141188E-05 -0.0124077050712498"
        rpy="0 0 0" />
      <mass
        value="0.38643879994659" />
      <inertia
        ixx="0.000471338529776792"
        ixy="1.66337345714149E-15"
        ixz="-1.14715645633417E-14"
        iyy="0.000471338529612718"
        iyz="-1.09021991805927E-14"
        izz="0.000928527510763276" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="1.1394761807359E-05 6.08703278544287E-06 -0.0077500814769409"
        rpy="0 0 0" />
      <mass
        value="0.144522029461181" />
      <inertia
        ixx="2.31497131227595E-05"
        ixy="3.32554185251548E-08"
        ixz="-2.70055376198842E-09"
        iyy="2.31765309683436E-05"
        iyz="-1.83377333176522E-08"
        izz="3.99089444689957E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="fixed">
    <origin
      xyz="0 0 -0.025"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-1.18803935919357E-05 0.00608479896964679 0.176302311537181"
        rpy="0 0 0" />
      <mass
        value="1.72261543966663" />
      <inertia
        ixx="0.0117235681346221"
        ixy="2.94075145692553E-07"
        ixz="-1.49637226286401E-08"
        iyy="0.0117847629146586"
        iyz="0.000662632550680996"
        izz="0.0070472482012762" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_top_setup/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="fixed">
    <origin
      xyz="0 0 -0.385747999999999"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>